@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Aldrich-Regular.ttf") format("truetype");
}

* {
  min-height: 0;
  min-width: 0;
}

.font-aldrich {
  font-family: "CustomFont", sans-serif;
}

/* button */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  padding: 10px;
}

.owl-prev {
  left: 10%;
}
.owl-next {
  right: 10%;
}

.custom-nav-text {
  font-size: 30px;
  background-color: #fefefe;
  padding: 2px 2px;
}
.custom-nav-text:hover {
  color: #000;
}
.slick-arrow {
  color: #000;
  position: absolute;
}
.slick-next{
  color: #000;
  position: absolute;
  right: -5%;
  top: 50%;
  background-color: #fefefe;
  padding: 4px;
}
.slick-prev {
  color: #000;
  position: absolute;
  left: -5%;
  top: 50%;
  background-color: #fefefe;
  padding: 4px;
}
